body {
  background-color: black;
  color: white;
  text-align: center;
}

.item-checkboxes {
  max-width: 600px;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  min-height: 100px;
  margin: auto;
}

#back-button {
  position: fixed;
  bottom: -80px;
  right: 100px;
  font-size: 100px;
  cursor: pointer;
}

.navigation {
  cursor: pointer;
}

#hamburger-menu {
  max-width: 300px;
  height: 100%;
}

#menu-toggle {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  font-size: 20px;
}

#menu-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 1;
  font-size: 20px;
}

#menu-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  max-height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #1f1f1f;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  overflow-y: scroll;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.menu-item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-900px);
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

/* background color of the scrollbar */
::-webkit-scrollbar-track {
  background: black;
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* on hover, color of the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
